.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.secondSectionTextContainer {
  margin-top: 7rem !important;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: light-gray;
  background-color: black;
  color: white;
  /* width: 14rem; */
}

input:focus {
  border-color: green;
  outline: 1px dotted #000;
}

textarea {
  background-color: black !important;
}

.btnCircle {
  display: block;
  font-size: 1.5rem;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid white;
}

.btnBackgroundColor {
  background: black;
}

.btnColor {
  color: white;
}

.copyRightFooter p {
  font-size: 12px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  form {
    /* padding-top: 20rem; */
  }
}
